[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sae.projection"]
	path = sae.projection
	url = https://github.com/ridsonap/sae.projection
[submodule "saeHB.unit"]
	path = saeHB.unit
	url = https://github.com/ridsonap/saehb.unit
[submodule "saens"]
	path = saens
	url = https://github.com/ridsonap/sae-ns
